html {
  height: 100%;
  body {
    height: 100%;
    #content {
      font-family: 'Caveat', cursive;
      p {
        font-size: 1.8rem;
      }
      height: 100%;
    }
    .home {
      height: 100%;
      background-color: #000000;
      .col {
        padding: 0;
      }
      .small-box,
      .large-box {
        color: #fff;
        border: 5px solid #fff;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 1.5rem;
        opacity: 0.7;
        transition: opacity 0.3s ease 0s;
        padding: 35px 20px;
        h1 {
          font-size: 3.5rem;
        }
      }
      .small-box:hover,
      .large-box:hover {
        opacity: 1;
        transition: opacity 0.3s ease 0s;
      }
      .large-box {
        height: 700px;
        overflow: auto;
      }
      .small-box {
        height: 350px;
      }
    }
    .menu {
      h1 {
        text-align: center;
        margin-top: 2.5rem;
        font-size: 4rem;
      }
      h2 {
        font-size: 3.5rem;
        margin: 2rem 0 1.5rem 0;
      }
      h3 {
        font-size: 2.5rem;
      }
      .price {
        font-size: 2.5rem;
      }
      i {
        font-size: 2.8rem;
        margin: 0 2rem;
      }
    }
    nav {
      font-family: Arial, Helvetica, sans-serif;
      .nav {
        margin-top: 10px;
        min-width: 60%;
        text-align: center;
        a {
          color: #221717;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 0.15em;
          display: inline-block;
          padding: 15px 20px;
          position: relative;
          width: 140px;
        }
        a:after {
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: "";
          display: block;
          height: 2px;
          left: 50%;
          position: absolute;
          background: #221717;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }
        a:hover:after {
          width: 100%;
          left: 0;
        }
        .active:after {
          width: 100%;
          left: 0;
        }
      }
    }
    .reserve {
      .row {
        margin-top: 1.5rem;
      }
      .image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 700px;
      }
    }
  }
}